//
// Color Schema
//
$primaryColor: #ffe600;
$secondaryColor: #022d67;
$tertiaryColor: #3483fa;
//
// Letter Colors
//
$letterMainColor: #333333;
$letterSecondaryColor: #666666;
$letterThirtyColor: #8a7e72;
$backgroundResults: #ededed;
$searchButton: #eeeeee;
//
// Light Grey
//
$divColor: #c1c1c1;